html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.container {
  padding: 0 15px;
  max-width: 1140px;
  margin: 0 auto;
}

.modal__title,
.modal__sub {
  color: #000;
  padding-bottom: 20px;
}

.modal__sub {
  font-size: 13px;
  font-weight: 600;
}

#modal {
  display: none;
}

#modal {
  width: 600px;
  height: 600px;
}

#modal input {
  display: block;
  width: 100%;
  margin-bottom: 23px;
  margin-top: 20px;
  outline: none;
  height: 60px;
  border: 1px solid #e6e6e6;
  padding: 0px 10px;
  font-family: "Roboto", sans-serif;
}

#modal input[type="submit"] {
  background-color: #2f7ed8;
  border: none;
  color: #fff;
}

#modal label {
  color: #000;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url("../images/header.bg.jpg");
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.header__main {
  color: #fff;
}
.header__menu {
  display: flex;
  justify-content: center;
  position: relative;
  padding-bottom: 300px;
}
.header__menu ul {
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.header__menu ul li {
  font-size: 30px;
}
.header__menu ul li + li {
  padding-left: 100px;
}
.header__menu ul a {
  padding-bottom: 5px;
  transition: 0.5s;
  border-bottom: 3px solid transparent;
}
.header__menu ul a:hover {
  border-bottom: 3px solid #5521e6;
}
.header__name {
  padding-bottom: 100px;
  text-align: center;
  font-size: 40px;
  letter-spacing: 10px;
}
.header__name h1 {
  padding-bottom: 50px;
}
.header__name p {
  letter-spacing: 5px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.header__btn {
  text-align: center;
}

.btn {
  min-width: 250px;
  min-height: 50px;
  background-color: #1f6eb8;
  border-radius: 26px;
  font-size: 20px;
  outline: none;
  border: none;
  color: #fff;
  transition: 1s;
}
.btn:hover {
  background-color: #5521e6;
}

.about {
  background: linear-gradient(45deg, #97c9e0, #57bbbe);
}
.about__inner {
  display: flex;
  padding-bottom: 50px;
}

.about__photo {
  padding-top: 50px;
}
.about__photo img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 3px solid #1f6eb8;
}

.title {
  padding-bottom: 50px;
  color: #1f6eb8;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 30px;
}

.about__main {
  padding-top: 70px;
  padding-left: 70px;
}
.about__main-text {
  padding-bottom: 50px;
  line-height: 28px;
}
.about__main-text p {
  text-indent: 20px;
}
.about__main-info {
  padding-bottom: 20px;
  max-width: 350px;
}
.about__main-info a {
  color: #1f6eb8;
}
.about__main-info p {
  padding-bottom: 15px;
  text-transform: uppercase;
  color: #1f6eb8;
  font-weight: 600;
}
.about__main-info p span {
  color: #000;
  text-transform: none;
}

.phone {
  display: inline-block;
  padding-bottom: 15px;
  text-transform: uppercase;
  color: #1f6eb8;
  font-weight: 600;
  fill: #da3731;
  padding-right: 20px;
}
.phone svg {
  transform: translateY(20%);
  transition: 1.5s;
}
.phone span {
  color: #000;
  text-transform: none;
}
.phone .phone-body {
  fill: #666666;
}
.phone:hover svg {
  fill: #08af24;
}
.phone:hover svg .phone-body {
  fill: #0313a7;
}

.email {
  display: inline-block;
  padding-bottom: 15px;
  text-transform: uppercase;
  color: #1f6eb8;
  font-weight: 600;
  fill: #666666;
}
.email svg {
  transform: translateY(20%);
  transition: 1.5s;
}
.email span {
  color: #000;
  text-transform: none;
}
.email:hover svg {
  fill: #061de9;
}

.skill {
  margin-bottom: 100px;
}

.skill__inner {
  display: flex;
  margin-left: 70px;
  flex-wrap: wrap;
}

.skill__box {
  padding-top: 20px;
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
  transition: 1s;
}
.skill__box:hover {
  transform: scale(1.2);
}

.skill__inner > *:not(:nth-child(3n)) {
  margin-right: 30px;
}

.skill__box .skill__percent {
  position: relative;
  width: 150px;
  height: 150px;
}

.skill__box .skill__percent svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.skill__box .skill__percent svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
}

.skill__box .skill__percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
}
.skill__box .skill__percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 70) / 100);
  stroke: #2fa6dd;
}
.skill__box .skill__percent .html-circle circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 75) / 100);
  stroke: #dd432f;
}
.skill__box .skill__percent .js-circle circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 30) / 100);
  stroke: #75dd2f;
}
.skill__box .skill__percent .scss-circle circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 85) / 100);
  stroke: #577bc9;
}
.skill__box .skill__percent .ph-circle circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 50) / 100);
  stroke: #e9ec2f;
}
.skill__box .skill__percent .gulp-circle circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 30) / 100);
  stroke: #f52f2f;
}
.skill__box .skill__percent .wp-circle circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 60) / 100);
  stroke: #532ff5;
}
.skill__box .skill__percent .seo-circle circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 30) / 100);
  stroke: #f52fa3;
}
.skill__box .skill__percent .en-circle circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 60) / 100);
  stroke: #2ff539;
}

.skill__box .skill__percent .skill__number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
}

.skill__box .skill__percent .skill__number p {
  font-size: 48px;
}

.skill__box .skill__percent .skill__number p span {
  font-size: 24px;
}

.skill__box .skill__title {
  padding: 10px 0 20px;
  color: #999;
  font-weight: 600;
}

.skill__text {
  padding: 10px 0 20px 10px;
  line-height: 20px;
}

.skill__title--type {
  padding-top: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: #1f6eb8;
  font-weight: 600;
}

.portfolio__slider {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
}
.portfolio__title {
  text-align: center;
}
.portfolio__slider-item {
  display: flex;
  justify-content: space-around;
}
.portfolio__slider-title {
  padding-top: 90px;
  padding-bottom: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: #1f6eb8;
  font-weight: 600;
}
.portfolio__slider-descr p {
  padding-bottom: 20px;
}
.portfolio__slider-descr li {
  padding-bottom: 15px;
  position: relative;
  padding-left: 20px;
}
.portfolio__slider-descr li::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../images/check.svg);
  margin-left: -20px;
}
.portfolio__slider-image {
  margin-bottom: 50px;
  margin-top: 50px;
}
.portfolio__slider-image img {
  width: 600px;
  height: 400px;
}

.image-descr {
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
  color: #000;
}

.slick-btn {
  top: -70px;
  background: transparent;
  border: none;
  position: absolute;
  outline: none;
  width: 70px;
  height: 70px;
}
.slick-btn img {
  width: 70px;
  height: 70px;
}

.slick-prev {
  left: 5px;
}

.slick-next {
  right: 20px;
}

.contacts {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/header-bg-2.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}
.contacts__inner {
  padding-top: 150px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.contacts__item {
  margin-right: 30px;
  min-width: 555px;
}
.contacts__sub {
  padding-bottom: 30px;
}
.contacts__link {
  padding-bottom: 30px;
}
.contacts__link a {
  color: #1f6eb8;
}
.contacts__link-tile {
  padding-bottom: 20px;
}

.contacts__cocial-inner {
  display: flex;
}

.contacts__cocial-icon a:not(:first-child) {
  margin-left: 20px;
}
.contacts__cocial-icon img {
  width: 40px;
}

.contacts__cocial-title {
  padding-bottom: 20px;
  font-weight: 600;
  color: #000;
}

.contacts__form-wrap input,
.contacts__form-wrap textarea {
  min-width: 500px;
}

.contacts__messenger-title {
  color: #000;
  font-weight: 600;
}
.contacts__messenger-title img {
  width: 40px;
  height: 40px;
}
.contacts__messenger-title a:last-child {
  margin-left: 20px;
}
.contacts__messenger-title p {
  padding-top: 60px;
  padding-bottom: 20px;
}

.contacts__form-title {
  color: #000;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 20px;
}
.contacts__form form {
  background-color: transparent;
}
.contacts__form input,
.contacts__form textarea {
  border-radius: 20px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  outline: none;
  height: 60px;
  border: 1px solid #e6e6e6;
  padding: 0px 10px;
  font-family: "Roboto", sans-serif;
}
.contacts__form textarea {
  height: 150px;
  resize: none;
  padding-top: 20px;
}
.contacts__form button {
  border-radius: 20px;
  background-color: #2f7ed8;
  border: none;
  color: #fff;
  width: 100%;
  margin-bottom: 23px;
  margin-top: 20px;
  outline: none;
  height: 60px;
  transition: 1s;
}
.contacts__form button:hover {
  background-color: #5521e6;
}

@media (max-width: 1110px) {
  .contacts__inner {
    padding-top: 50px;
    flex-direction: column;
  }

  .email {
    display: block;
  }

  .contacts__form {
    margin: 0 auto;
    padding-top: 30px;
    max-width: 500px;
  }
}
@media (max-width: 1065px) {
  .skill__inner > *:not(:nth-child(3n)) {
    margin-right: 0px;
  }

  .skill__box {
    margin-left: 10px;
  }
}
@media (max-width: 1000px) {
  .about__photo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #1f6eb8;
  }

  .about__main-text {
    font-size: 14px;
  }

  .skill__inner {
    margin-left: 0;
    justify-content: center;
  }
}
@media (max-width: 940px) {
  .header__name {
    font-size: 30px;
  }
  .header__menu ul {
    padding-top: 50px;
  }
  .header__menu ul li {
    font-size: 25px;
  }

  .portfolio__slider-item {
    flex-direction: column;
  }
  .portfolio__slider-image {
    text-align: center;
  }

  .portfolio__slider-info {
    padding-left: 40px;
  }
}
@media (max-width: 800px) {
  .header__menu ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__menu ul li + li {
    padding-left: 0px;
    padding-top: 20px;
  }
}
@media (max-width: 750px) {
  .about__inner {
    display: block;
  }

  .about__photo {
    text-align: center;
  }

  .about__main {
    padding-top: 0px;
    padding-left: 0px;
  }

  .about__main-title {
    padding-left: 30px;
  }
}
@media (max-width: 635px) {
  .portfolio__slider-image {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .portfolio__slider-image img {
    width: 300px;
    height: 200px;
  }

  .contacts__form-wrap input,
  .contacts__form-wrap textarea {
    min-width: auto;
  }

  .contacts__item {
    min-width: auto;
  }
}
@media (max-width: 500px) {
  .header__name {
    font-size: 25px;
  }
  .header__menu {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 300px;
  }
  .header ul {
    padding-top: 50px;
  }
  .header ul li {
    font-size: 20px;
  }

  .about__main-title {
    padding-top: 15px;
    padding-left: 0px;
    text-align: center;
    padding-bottom: 10px;
  }
}
