html {
   box-sizing: border-box;
   scroll-behavior: smooth;
}
*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   font-family: "Noto Sans", sans-serif;
   font-weight: 400;
   font-size: 16px;
   color: #000;
}

a {
   display: inline-block;
   text-decoration: none;
   color: #fff;
   cursor: pointer;
}

ul,
li {
   list-style: none;
   margin: 0;
   padding: 0;
}
button {
   cursor: pointer;
}
.container {
   padding: 0 15px;
   max-width: 1140px;
   margin: 0 auto;
}
.modal__title,
.modal__sub {
   color: #000;
   padding-bottom: 20px;
}
.modal__sub {
   font-size: 13px;
   font-weight: 600;
}
#modal {
   display: none;
}
#modal {
   width: 600px;
   height: 600px;
}
#modal input {
   display: block;
   width: 100%;
   margin-bottom: 23px;
   margin-top: 20px;
   outline: none;
   height: 60px;
   border: 1px solid #e6e6e6;
   padding: 0px 10px;
   font-family: "Roboto", sans-serif;
}

#modal input[type="submit"] {
   background-color: #2f7ed8;
   border: none;
   color: #fff;
}

#modal label {
   color: #000;
}

