@media (max-width: 1110px) {
   .contacts {
      &__inner {
         padding-top: 50px;
         flex-direction: column;
      }
   }
   .email {
      display: block;
   }
   .contacts__form{
      margin: 0 auto;
      padding-top: 30px;
      max-width: 500px;
   }
}
@media (max-width: 1065px) {
   .skill__inner > *:not(:nth-child(3n)) {
      margin-right: 0px;
   }
   .skill__box {
      margin-left: 10px;
   }
}
@media (max-width: 1000px) {
   .about__photo {
      img {
         width: 200px;
         height: 200px;
         border-radius: 50%;
         border: 3px solid rgb(31, 110, 184);
      }
   }

   .about__main {
      &-text {
         font-size: 14px;
      }
   }
   .skill__inner {
      margin-left: 0;
      justify-content: center;
   }
}
@media (max-width: 940px) {
   .header {
      &__name {
         font-size: 30px;
      }
      &__menu {
         ul {
            padding-top: 50px;
            li {
               font-size: 25px;
            }
         }
      }
   }
   .portfolio {
      &__slider-item {
         flex-direction: column;
      }
      &__slider-image {
         text-align: center;
      }
   }
   .portfolio__slider-info {
      padding-left: 40px;
   }
}

@media (max-width: 800px) {
   .header {
      &__menu {
         ul {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            li + li {
               padding-left: 0px;
               padding-top: 20px;
            }
         }
      }
   }
}

@media (max-width: 750px) {
   .about {
      &__inner {
         display: block;
      }
   }
   .about__photo {
      text-align: center;
   }
   .about__main {
      padding-top: 0px;
      padding-left: 0px;
   }
   .about__main-title {
      padding-left: 30px;
   }
}
@media (max-width: 635px) {
   .portfolio {
      &__slider-image {
         margin-bottom: 50px;
         margin-top: 50px;
         img {
            width: 300px;
            height: 200px;
         }
      }
   }
   .contacts__form-wrap {
   input,
   textarea {
     min-width: auto;
   }
}
.contacts{
    &__item{
       min-width: auto;
    }
}
}
@media (max-width: 500px) {
   .header {
      &__name {
         font-size: 25px;
      }
      &__menu {
         display: flex;
         justify-content: center;
         position: relative;
         padding-bottom: 300px;
      }
      ul {
         padding-top: 50px;
         li {
            font-size: 20px;
         }
      }
   }
   .about__main-title {
      padding-top: 15px;
      padding-left: 0px;
      text-align: center;
      padding-bottom: 10px;
   }
}
